@import "./../../variables.scss";

nav{
    display: flex;
    align-items: center;
    padding: 2rem 7rem;
    background: linear-gradient(180deg, rgba(45,45,48,1) 85%, rgba(45,45,48,0) 100%);
    position: fixed;
    width:100vw;
    top:0;

    h1{
        margin-right: auto;
        font-size: 2.2rem;
        font-weight: 600;
    }

    i{
        visibility: hidden;
    }

    #menu{
        display: flex;
        flex-direction: column;

        ul{
            display: flex;
            list-style-type: none;
            align-items: center;
            justify-content: space-between;
            
            li{
                margin: 0 1.5rem;
                font-size: 1.2rem;

                                
                #close{
                    visibility:hidden;
                    width:0;
                }
            }

            #icon{
                margin:0;
            }
        }

        span{
            width: 100%;
            height: .2rem;
            background: white;
            border-radius: .2rem;
            margin-top: .4rem;
        }
    }

    @media only screen and (max-width: 600px){

        padding: 2rem 2rem;
    
        i{
            visibility: visible;
            font-size: 1.5rem;
            cursor: pointer;
            &:hover{
                color: $light;
            }
        }

        #menu{ 
            width:1px;
            flex-direction: row;
            align-items: center;

            .hidden{
                width:0;
                right: -20rem;   
                box-shadow: none;
                            
            }

            


            ul{
                position:absolute;
                right:0;
                top:0;
                z-index:90;
                background: $menu;
                height: 60vh;
                flex-direction: column;
                padding: 0 2rem;
                align-items: flex-start;
                justify-content: flex-start;
                box-shadow: 100vh 100vw 100rem 100rem rgba(45,45,45,0.6);
                transition:all 1s cubic-bezier(.215,.61,.355,1);

                #icon{
                    margin:2rem 0 0 .4rem;
                }
                
                li{
                    margin-top: 1.5rem;
                    padding:0 1rem;

                    #close{
                        visibility: visible;
                        font-size: 1.7rem;
                        width:2rem;
                    }

                }

                span{
                    visibility: visible;
                    width: 80%;
                    height: .2rem;
                    background: white;
                    border-radius: .2rem;
                    margin-top: .3rem;
                    margin-left: 1.2rem;
                }
            }

            span{
                visibility: hidden;
            }
        }
    
    }
    
}