$body: #2d2d30;
$font: 'Montserrat', sans-serif;
$text: white;
$light: #007acc;
$menu: #1e1e1e;
$cm: 2.3622050220101rem;
$wall: calc( #{$cm} * 12.5);
$house: #252526;
$radius: .8rem ;
$cell : calc( #{$cm} * 6 );
$footer : #003354;
