@import "./../../variables.scss";

body{
    display: flex;
    justify-content: center;
    align-items: center;


    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #sign-in{
        text-align: center;
        display: block  ;
    }

    #just{
        color: $light !important;
        position: absolute;
        top: 1rem;
        left: 0;
    }

}
