.alarm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alarm h1 {
  margin-bottom: 5rem;
}

.alarm .alarm-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc( 2.36221rem * 5);
  width: calc( ( calc( 2.36221rem * 6) * 2 ) + 2.36221rem);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
  .alarm .alarm-options {
    height: calc( calc( 2.36221rem * 0.75) * 5);
    width: calc( ( calc( calc( 2.36221rem * 6) * 0.75) * 2 ) + calc( 2.36221rem * 0.75));
  }
}

@media only screen and (max-width: 400px) {
  .alarm .alarm-options {
    height: calc( calc( 2.36221rem * 0.65) * 5);
    width: calc( ( calc( calc( 2.36221rem * 6) * 0.65) * 2 ) + calc( 2.36221rem * 0.65));
    font-size: .8rem;
  }
}

.alarm .alarm-options #alarm-container {
  width: calc( 2.36221rem * 6);
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

@media only screen and (max-width: 600px) {
  .alarm .alarm-options #alarm-container {
    width: calc( calc( 2.36221rem * 6) * 0.75);
  }
}

@media only screen and (max-width: 600px) {
  .alarm .alarm-options #alarm-container {
    width: calc( calc( 2.36221rem * 6) * 0.65);
  }
}

.alarm .alarm-options #alarm-container .lock {
  min-width: 1rem;
  max-width: 1rem;
}

.alarm .alarm-options .activated {
  background: #007acc;
  border-color: white;
}

.alarm .alarm-options .toggler {
  background: #252526;
  width: calc( 2.36221rem * 2);
  height: 2.36221rem;
  cursor: pointer;
  border-radius: 0.8rem;
  position: relative;
  margin-right: 3rem;
  -webkit-transition: all .7s ease-in;
  transition: all .7s ease-in;
}

@media only screen and (max-width: 600px) {
  .alarm .alarm-options .toggler {
    height: calc( 2.36221rem * 0.75);
    width: calc( calc( 2.36221rem * 0.75) * 2);
  }
}

@media only screen and (max-width: 400px) {
  .alarm .alarm-options .toggler {
    height: calc( 2.36221rem * 0.65);
    width: calc( calc( 2.36221rem * 0.65) * 2);
  }
}

.alarm .alarm-options .toggler .trigger {
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: unset;
  width: 2.36221rem;
  border-radius: 0.8rem;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .alarm .alarm-options .toggler .trigger {
    width: calc( 2.36221rem * 0.75);
  }
}

@media only screen and (max-width: 400px) {
  .alarm .alarm-options .toggler .trigger {
    width: calc( 2.36221rem * 0.65);
  }
}

.alarm .alarm-options .toggler.active .trigger {
  left: 2.36221rem;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

@media only screen and (max-width: 600px) {
  .alarm .alarm-options .toggler.active .trigger {
    left: calc( 2.36221rem * 0.75);
  }
}

@media only screen and (max-width: 400px) {
  .alarm .alarm-options .toggler.active .trigger {
    left: calc( 2.36221rem * 0.65);
  }
}
/*# sourceMappingURL=Alarm.css.map */