@import "./../../variables.scss";

section{
    display: flex;
    flex-direction: column;
    align-items: center;

    #info-link{
        margin:6rem 0;
    }

    #temp{
        grid-area: temp;
    }

    #hum{
        grid-area: hum;
    }

    #alarm{
        grid-area: alarm;
    }

    ul{
        list-style-type: none;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "temp hum"
            "alarm alarm";
        height: calc( #{$cm } * 5 );
        width: calc( ( #{$cell} * 2 ) + #{$cm} );
        row-gap: $cm;
        column-gap: $cm;

        .info-cell{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}